:root{
  --bg: #bdb490;
  --font1: #202022;
  --highlights: #c8512a;
  --object: #e5e2d8; 
}

@font-face {
  font-family: This Cafe;
  src: url(../assets/This\ Cafe.woff2) format('woff2');
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

*{
  color: var(--font1);
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: Verdana;
  max-width: 100%;
  max-height: 100%;
}

body{
  display: grid;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
  background-color: var(--bg);
  position: fixed;
  overflow-y: scroll;
}

.hidden{
  display: none;
}

.logo-container{
  width: 30vw;
  padding: 0rem;
  align-items: center;
  justify-content: center;
}

.logo{
  transition: scale 0.2 ease-in-out;
  font-family: This Cafe;

}

.logo:hover{
  scale: 1.01;
}

/* the way we defined the gap allow us to set a default value of 1 rem and overwrite it everytime we need to */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  box-sizing: border-box;
  background: var(--object);
}

@media (max-width: 35em) {
  .primary-nav{
    position: fixed;
  }
}

/*the gap defined here overrides the one defined in flex*/
.primary-nav {
  --gap: 3rem;
  list-style: none;
  padding: 0rem;
  width: 30vw;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
}

.primary-nav>li {
  width: 100%;
}
@supports(backdrop-filter: blur(1rem)){
  .primary-header{
    background: var(--bg);
    backdrop-filter: blur(0.8rem);
  }
}


.primary-header a{
  text-decoration:none;
  color: var(--font1);
  font-size: 1 rem;
  transition: font-size 100ms ease-in-out;
}

.primary-header span{
  width: 3rem
}


.primary-header a:hover{
  font-size: 1.01rem;
  cursor: pointer;
}


.mobile-nav-toggle {
  background-color: var(--bg);
  display: none;
}

.paste{
  grid-column-start:2;
}

.textarea{
  resize: none;
  max-height: 500px;
  background-color: var(--object);
  color: var(--font1);
  padding: 1em;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  font-family: 'Fira Code';
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  transition: all 0.2s;
}

.textarea:hover {
  cursor: pointer;
  background-color: var(--bg); 
  scale: 1.01;
  box-shadow: 2px 2px 5px black;
}

.textarea:focus {
  cursor: text;
  color: var(--font1);
  border-color: var(--highlights);
}

.submit{
  position: relative;
  display: block;
  z-index: 3;
  width: 3.5rem;
  aspect-ratio: 2;
  background: var(--object);
  border: 0.1em solid white;
  cursor: pointer;
  transition: all 0.5s;
  grid-column-start: 2;
  grid-row-start: 4;
  right: 70px;
  border-radius: 10px;
}

.submit:hover{
  background: var(--bg);
  border: 0.1em solid var(--highlights);
  scale: 1.01;
  box-shadow: 2px 2px 5px black;
}

.submit:active{
  scale: 1;
  box-shadow: 0px 0px 0px black;
}



.grid{
  display: grid;
  gap: 1rem;
}

#title{
  grid-row-start:1;
}


#paste{
  grid-row-start: 3;
}

#table{
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--bg);
  display:inline-block;
}

tr,thead,tbody {
  display: block;
}

