<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <script src="{{url_for('static', filename='js/nav.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
  </head>
  <body>
    <button class="mobile-nav-toggle" aria-controls="primary-nav" aria-expanded="false">
      <span>
      </span>
    </button>
    <nav class="flex primary-header">
      <a href="/">
        <span>
          <img src="{{url_for('static', filename='assets/logo.png')}}" class="logo">
        </span>
      </a>
      <ul class="primary-nav flex" data-visible="false">
        <li><a href="/"><span>Home</span></a></li>
        <li><a><span>Paste</span></a></li>
        <li><a><span>About</span></a></li>
        <li id="contact"><a><span>Contact</span></a></li>
      </ul>
    </nav>
    <!-- can add jinja syntaxe for control flow and add if user logged in then display account info else display login buttons -->
    {% block content %} {% endblock %}
  </body>
</html>
