<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <script src="{{url_for('static', filename='js/nav.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/index.js')}}" defer></script>
  </head>
  <body>
    {% block nav %} {% endblock %}
    <!-- can add jinja syntaxe for control flow and add if user logged in then display account info else display login buttons -->
    {% block content %} {% endblock %}
  </body>
</html>
