{% extends "base.html" %} 

  {% block content %}

    <form action="/paste" class="paste grid" method="POST">
      <span id="title"> 
        <input type="text" class = "textarea" name="paste-title" placeholder="Title..."> </span>
      <!-- might add a random name generator -->
      </br>
      <textarea rows="5" cols="50" placeholder="Insert text here..." class="textarea" name="paste" id="paste"></textarea>
      <input type="submit" value="Paste" class="submit">
    </form>
  {% endblock %}
